<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="icon" href="img/favicon.ico">
    <meta http-equiv="refresh" content="5;url=/" />
    <title>Rechenmeister</title>
</head>

<body>
    <%- include('./_header.ejs', {desc: "Hier ist etwas faul!",  ort: "Seite nicht gefunden", pic: "cb_sad.png"})%>
    <main>
        <p>Dein Pferd bringt dich in kürze in den Saloon zurück.</p>
    </main>
</body>
</html>