<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechenmeister</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="icon" href="img/favicon.ico">
</head>

<body>
    <%- include('./_header.ejs', {desc: "Du bist zu spät!", ort: "Du bist zu spät!", pic: "cb_sad.png"})%>
    <main>
        <p>Es tut mir sehr leid, aber das Spiel hat leider ohne dich begonnen.</p>
        <p>Melde dich am besten direkt beim Host um beim nächsten Mal dabei zu sein.</p>
        <p>Du kannst <a href="rangliste">hier</a> das Spiel live mitverfolgen.</p>
    </main>
</body>
</html>